.about {
  position: relative;

  padding-top: 5.5rem;

  text-align: justify;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    user-select: none;

    width: 86.8rem;
    height: 53.6rem;

    background: url(../images/about/about-benefits-bg_1.png) no-repeat;
    background-size: cover;
  }
  &::after {
    content: "";
    position: absolute;
    right: 9rem;
    top: -4rem;
    z-index: -1;
    user-select: none;

    width: 32.1rem;
    height: 41.2rem;

    background: url(../images/about/about-benefits-bg_2.png) no-repeat;
    background-size: cover;
  }

  h3 {
    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;

    padding: 2rem 0;
  }

  .about__inner {
    margin-bottom: 2rem;
  }

  .about-img {
    float: right;

    width: 100%;
    max-width: 85.1rem;

    margin: -11rem;
    margin-left: -6rem;
    margin-right: -14rem;
    padding-left: 2rem;
  }

  .about-benefits {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;

    &::before {
      content: "";
      position: absolute;
      left: -30rem;
      top: 10rem;
      z-index: 1;
      user-select: none;

      width: 19.7rem;
      height: 41.2rem;

      background: url(../images/about/about-benefits-bg_3.png) no-repeat;
      background-size: cover;
    }
  }
  .about-benefits__item {
    width: 100%;
  }
  .about-benefits__item-header {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    margin-bottom: 0.5rem;
  }
  .about-benefits__item-img {
    width: 100%;
    max-width: 10.1rem;
  }
  .about-benefits__item-name {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: left;

    span {
      font-weight: 400;
    }
  }
  .about-benefits__item-descr {
    letter-spacing: -0.03em;
  }
}
