.about {
  position: relative;

  padding-top: 5.5rem;

  text-align: left;
  line-height: 1.18;

  @include breakpoint($lg-bp) {
    padding-top: 6.3rem;

    .container {
      max-width: 62rem;
    }
  }

  p {
    padding: 1rem 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    user-select: none;

    width: 86.8rem;
    height: 53.6rem;

    background: url(../images/about/about-benefits-bg_1.png) no-repeat;
    background-size: cover;

    @include breakpoint($lg-bp) {
      top: -10rem;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 9rem;
    top: -4rem;
    z-index: -1;
    user-select: none;

    width: 32.1rem;
    height: 41.2rem;

    background: url(../images/about/about-benefits-bg_2.png) no-repeat;
    background-size: cover;

    @include breakpoint($lg-bp) {
      display: none;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;

    padding: 2rem 0;

    @include breakpoint($lg-bp) {
      font-size: 3.2rem;

      margin-bottom: 3rem;
    }
  }

  .img-block {
    display: flex;
    gap: 2rem;
    align-items: flex-start;

    @include breakpoint($lg-bp) {
      flex-direction: column;
    }
  }

  .about__inner {
    margin-bottom: 2rem;

    @include breakpoint($lg-bp) {
      margin-bottom: 6rem;
    }
  }

  .about-img {
    float: right;

    width: 100%;
    max-width: 85.1rem;

    margin: -10rem;
    margin-left: -6rem;
    margin-right: -15rem;
    padding-top: 7rem;

    @include breakpoint($lg-bp) {
      margin: -3rem 0rem -10rem;
      padding-top: 0;
    }
  }

  .about-benefits {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;

    @include breakpoint($lg-bp) {
      flex-direction: column;
      gap: 5rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: -30rem;
      top: 10rem;
      z-index: 1;
      user-select: none;

      width: 19.7rem;
      height: 41.2rem;

      background: url(../images/about/about-benefits-bg_3.png) no-repeat;
      background-size: cover;

      @include breakpoint($lg-bp) {
        left: -15rem;
        bottom: -19rem;
        top: unset;
      }
    }
  }
  .about-benefits__item {
    width: 100%;
  }
  .about-benefits__item-header {
    display: flex;
    align-items: center;
    gap: 3rem;

    margin-bottom: 0.5rem;

    @include breakpoint($lg-bp) {
      margin-bottom: 3rem;
    }
  }
  .about-benefits__item-img {
    width: 100%;
    max-width: 10.1rem;

    @include breakpoint($lg-bp) {
      max-width: 18rem;
    }
  }
  .about-benefits__item-name {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: left;

    @include breakpoint($lg-bp) {
      font-size: 3.6rem;
    }

    span {
      font-weight: 400;
    }
  }
  .about-benefits__item-descr {
    letter-spacing: -0.03em;
  }
}
