.antiox {
  padding: 6rem 0 9rem;

  background: url(../images/antiox/antiox-bg.png) no-repeat;
  background-size: 100% 112rem;
  background-position: top 7rem center;

  @include breakpoint($lg-bp) {
    height: 165rem;

    background: url(../images/antiox/antiox-bg-mob.png) no-repeat;
    background-size: 100% 162rem;
    background-position: top center;

    .container,
    .antiox__inner {
      height: 100%;
    }
  }
}

.antiox__inner {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($lg-bp) {
    left: 0;
  }
}

.antiox-img {
  width: 100%;
  max-width: 130rem;

  @include breakpoint($lg-bp) {
    width: 200%;
    max-width: unset;
  }
}

.antiox-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  width: 90rem;

  pointer-events: none;

  @include breakpoint($lg-bp) {
    width: 70rem;
  }
}

.antiox-item {
  position: absolute;
  z-index: 2;

  &:nth-of-type(1) {
    left: 12rem;
    top: 44rem;

    @include breakpoint($lg-bp) {
      left: -4rem;
      top: 34rem;

      &::before {
        content: "";
        position: absolute;
        top: -157%;
        left: 18.6%;
        z-index: 1;

        width: 22rem;
        height: 0.3rem;

        background: $secondary;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 90%;
      z-index: 1;
      transform: translateY(-50%);

      width: 14rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        height: 33.3rem;
        width: 0.3rem;

        top: -64%;
        right: 80%;
      }
    }

    .antiox-item__content {
      left: -12.5rem;
      top: -10rem;

      max-width: 10rem;

      @include breakpoint($lg-bp) {
        left: 5rem;
        top: -27rem;

        max-width: 25rem;
        width: 25rem;
      }
    }
    .antiox-item__title {
      line-height: 1.23;
    }
  }
  &:nth-of-type(2) {
    left: 27rem;
    top: 73rem;

    @include breakpoint($lg-bp) {
      left: 24rem;
      top: 33rem;

      &::before {
        content: "";
        position: absolute;
        top: -115%;
        left: 21%;
        z-index: 1;

        width: 22rem;
        height: 0.3rem;

        background: $secondary;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 64%;
      z-index: 1;
      transform: translateY(-50%);

      width: 34.1rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        height: 33.3rem;
        width: 0.3rem;

        top: -22%;
        right: 78%;
      }
    }

    .antiox-item__content {
      left: -27rem;
      top: 6.3rem;
      max-width: 20rem;

      @include breakpoint($lg-bp) {
        left: 6rem;
        top: -25rem;

        max-width: 23rem;
      }
    }
  }
  &:nth-of-type(3) {
    right: 23rem;
    top: 9rem;

    @include breakpoint($lg-bp) {
      right: unset;
      top: unset;
      left: -3rem;
      bottom: 33rem;

      &::after {
        content: "";
        position: absolute;
        top: 145%;
        left: 20.8%;
        z-index: 1;

        width: 26rem;
        height: 0.3rem;

        background: $secondary;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 40%;
      z-index: 1;
      transform: translateY(-50%);

      width: 35rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        height: 13rem;
        width: 0.3rem;

        top: 110%;
        left: 20%;
      }
    }

    .antiox-item__content {
      right: -24.3rem;
      top: 6rem;

      max-width: 19rem;

      line-height: 1.18;

      @include breakpoint($lg-bp) {
        left: 5rem;
        top: 22rem;
        width: 55rem;
        max-width: 55rem;
      }

      .antiox-item__title {
        margin-bottom: 0.5rem;
      }
    }
  }
}
.antiox-item__icon {
  width: 20rem;

  position: relative;
  z-index: 5;

  @include breakpoint($lg-bp) {
    width: 18rem;
  }
}
.antiox-item__content {
  position: absolute;

  line-height: 1;
}
.antiox-item__title {
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.01em;

  padding-bottom: 1rem;
  margin-bottom: 1rem;

  @include breakpoint($lg-bp) {
    font-size: 3.2rem;
  }

  span {
    color: $secondary;
  }
}
.antiox-item__descr {
  letter-spacing: -0.01em;
}
