.breadcrumb-wrapper {
  display: flex;
  align-items: center;

  padding: 0.3rem 0;

  @include breakpoint($lg-bp) {
    .container {
      max-width: 67.5rem;
    }
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb a::after {
  content: "/";
  padding: 0 0.8rem;
}

.breadcrumb span,
.breadcrumb a {
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $primary;

  transition: all 0.2s linear;

  @include breakpoint($lg-bp) {
    font-size: 3.2rem;
  }
}

.breadcrumb a:hover {
  color: $secondary;
}
