.buy-online {
  padding: 9.6rem 0 5.6rem;

  background: url(../images/buy/buy-bg.png) no-repeat;
  background-size: 100% 41.1rem;
  background-position: top 23rem center;

  @include breakpoint($lg-bp) {
    padding-top: 6rem;

    background: url(../images/buy/buy-bg-mob.png) no-repeat;
  background-size: 100% 84.8rem;
  background-position: top center;
  }
}

.buy-online,
.buy-offline {
  .selection__filter {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-bottom: 0;

    @include breakpoint($lg-bp) {
      flex-direction: column;
      gap: 2rem;

      width: 100%;
    }

    .custom-select {
      width: 27.4rem;

      @include breakpoint($lg-bp) {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  .page-title {
    margin-bottom: 0;
  }
}

.buy-online__header,
.buy-offline__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10rem;

  @include breakpoint($lg-bp) {
    flex-direction: column;
    gap: 2rem;

    margin-bottom: 9rem;
  }
}

.buy-online__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem 6rem;

  margin-bottom: 13rem;

  @include breakpoint($lg-bp) {
    gap: 2rem;

    margin-bottom: 10rem;
  }
}

.buy-online__link {
  img {
    width: 100%;
    max-width: 30rem;

    @include breakpoint($lg-bp) {
      max-width: 25rem;
    }
  }
}

.buy-offline__header {
  margin-bottom: 8rem;

  @include breakpoint($lg-bp) {
    margin-bottom: 6rem;
  }
}

.buy-offline__map {
  width: 100%;
  height: 66rem;

  background: #ebdbf2;

  @include breakpoint($lg-bp) {
    height: 75rem;
  }
}
