.intro--contacts {
  height: 52.6rem;

  padding-top: 23rem;

  background: url(../images/contacts/contacts-intro.jpg) no-repeat;
  background-size: cover;
}

.contacts-title {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}
.contacts-address {
  font-size: 2.6rem;
  color: white;
}

.contacts-map {
  height: 53rem;

  margin-bottom: 8rem;

  background: #ebdbf2;

  @include breakpoint($lg-bp) {
    height: 75rem;

    margin-bottom: 4.5rem;
  }
}

.contacts-form {
  padding-bottom: 5.8rem;

  background: url(../images/contacts/contacts-bg.png) no-repeat;
  background-size: 100% 81.4rem;
  background-position: bottom -5rem center;

  @include breakpoint($lg-bp) {
    padding-bottom: 10rem;

    background: url(../images/contacts/contacts-bg-mob.png) no-repeat;
    background-size: 100% 85.8rem;
    background-position: top 37rem center;
  }

  .filled-btn {
    margin-left: auto;
    padding: 1.1rem 5.5rem;

    &:disabled {
      color: #fff;
      background: #EBEBEB;
      border-color: #EBEBEB;
    }

    @include breakpoint($lg-bp) {
      width: 100%;
      max-width: 100%;

      justify-content: center;
    }
  }

  .custom-input.error {
    border-color: #ff0000;
  }
}

.contacts-form__title {
  font-weight: 300;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  color: $secondary;

  margin-bottom: 9rem;

  @include breakpoint($lg-bp) {
    margin-bottom: 5rem;
  }
}

.contacts-form__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12rem;

  margin-bottom: 4rem;

  @include breakpoint($lg-bp) {
    flex-direction: column;
    gap: 2rem;

    margin-bottom: 7rem;
  }
}

.contacts-form__col {
  display: grid;
  gap: 3.9rem;

  width: 100%;

  @include breakpoint($lg-bp) {
    gap: 2rem;
  }

  .custom-textarea {
    height: 34rem;

    @include breakpoint($lg-bp) {
      height: 52.4rem;
    }
  }

  .custom-input,
  .custom-textarea {
    width: 100%;
  }
}

.contacts-info {
  padding: 4.5rem 0 6.5rem;

  @include breakpoint($lg-bp) {
    padding-bottom: 11.4rem;
  }
}
.contacts-info__inner {
  display: flex;
  align-items: center;
  gap: 38rem;

  @include breakpoint($lg-bp) {
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }
}
.contacts-item {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  @include breakpoint($lg-bp) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &:first-child .contacts-item__link {
    text-decoration: underline;
    text-transform: none;
  }
}
.contacts-item__img {
  width: 12rem;
}
.contacts-item__link {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.form-error,
.form-success {
  display: none;

  align-items: center;
  gap: 1rem;

  font-size: 2.2rem;

  margin-bottom: 1.5rem;

  &.visible {
    display: flex;
  }

  svg {
    width: 2.6rem;
    height: 2.6rem;

    fill: none;
  }
}

.form-error {
  color: #ff0000;
}

.form-success {
  color: #00a907;
}

.contacts-form__note {
  letter-spacing: 0.01em;
  color: #111c4e;
  opacity: 0.3;

  margin-top: 1.8rem;
}
