.intro--contacts {
  height: 52.6rem;

  padding-top: 23rem;

  background: url(../images/contacts/contacts-intro.jpg) no-repeat;
  background-size: cover;
}

.contacts-title {
  font-size: 6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;

  margin-bottom: 2.4rem;
}
.contacts-address {
  font-size: 2.6rem;
  color: white;
}

.contacts-map {
  height: 53rem;

  margin-bottom: 8rem;

  background: #ebdbf2;

  @include breakpoint($lg-bp) {
    height: 75rem;

    margin-bottom: 4.5rem;
  }
}

.contacts-form {
  padding-bottom: 9.7rem;

  background: url(../images/contacts/contacts-bg.png) no-repeat;
  background-size: 100% 81.4rem;
  background-position: bottom -6rem center;

  @include breakpoint($lg-bp) {
    padding-bottom: 10rem;

    background: url(../images/contacts/contacts-bg-mob.png) no-repeat;
    background-size: 100% 84.1rem;
    background-position: bottom -5rem center;
  }

  .filled-btn {
    margin-left: auto;

    @include breakpoint($lg-bp) {
      width: 100%;
      max-width: 100%;

      justify-content: center;
    }
  }
}

.contacts-form__title {
  font-weight: 300;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  color: $secondary;

  margin-bottom: 6rem;
}

.contacts-form__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12rem;

  margin-bottom: 4rem;

  @include breakpoint($lg-bp) {
    flex-direction: column;
    gap: 2rem;

    margin-bottom: 7rem;
  }
}

.contacts-form__col {
  display: grid;
  gap: 3.9rem;

  width: 100%;

  @include breakpoint($lg-bp) {
    gap: 2rem;
  }

  .custom-textarea {
    height: 34rem;

    @include breakpoint($lg-bp) {
      height: 52.4rem;
    }
  }

  .custom-input,
  .custom-textarea {
    width: 100%;
  }
}

.contacts-info {
  padding: 4.5rem 0 6.5rem;
}
.contacts-info__inner {
  display: flex;
  align-items: center;
  gap: 34rem;

  @include breakpoint($lg-bp) {
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
  }
}
.contacts-item {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  &:first-child .contacts-item__link {
    text-decoration: underline;
  }
}
.contacts-item__img {
  width: 12rem;
}
.contacts-item__link {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
