.filled-btn {
  width: 100%;
  max-width: max-content;

  display: flex;
  align-items: center;

  font-size: 2.2rem;
  line-height: 1.45;
  color: white;
  font-weight: 700;
  text-align: center;

  padding: 1.1rem 3.5rem;

  background-color: $secondary;
  border: 1px solid $secondary;
  border-radius: 3rem;

  transition: all 0.2s ease;

  @include breakpoint($lg-bp) {
    font-size: 3.2rem;

    padding: 0.9rem 4rem;
  }

  &:hover {
    color: $secondary;
    background-color: transparent;
  }
}
