.footer {
  padding: 2.7rem 0;

  background: $secondary;
}

.footer__inner {
  text-align: right;
  color: white;

  @include breakpoint($lg-bp) {
    text-align: center;
  }
}

.footer__address-title {
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 0.01em;

  margin-bottom: 0.7rem;
}
.footer__address-descr {
  display: flex;
  gap: 10rem;

  font-size: 1.8rem;
  letter-spacing: 0.01em;

  & p:first-child {
    text-align: left;
  }

  @include breakpoint($lg-bp) {
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    & p:first-child {
      text-align: center;
    }
  }
}
