.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;

  transition: all 0.2s linear;
  transform: translateY(0);
}

// .header.out {
//   transform: translateY(-100%);
//   box-shadow: none;
// }

.header__logo {
  img {
    width: 100%;
    max-width: 26.1rem;

    margin-right: 3.5rem;
  }
}

.header__inner {
  display: flex;
  align-items: center;

  @include breakpoint($lg-bp) {
    justify-content: center;
  }
}

.menu {
  @include breakpoint($lg-bp) {
    position: absolute;
    display: none;
  }
}

.menu__nav-list {
  display: flex;
  align-items: center;

  gap: 2.5rem;

  @include breakpoint($xl-bp) {
    gap: 2rem;
  }
}

.nav-list__item {
  a {
    color: white;
    text-transform: uppercase;
    font-size: 2.1rem;
    letter-spacing: 0.01em;

    &:hover {
      text-decoration: underline;
    }
  }
}

.burger-menu {
  display: none;
  position: absolute;
  right: 4.7rem;
  top: 5.3rem;

  z-index: 300;

  width: 5.2rem;
  height: 4.3rem;

  cursor: pointer;

  @include breakpoint($lg-bp) {
    display: block;
  }
}

.burger,
.burger::before,
.burger::after {
  position: absolute;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 0.9rem;
  background: #ffffff;
  border-radius: 29px;
  transition: all 0.3s ease-in-out;
}

.burger {
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.burger::before {
  content: "";
  top: 1.7rem;
}

.burger::after {
  content: "";
  bottom: 1.7rem;
}

.burger-menu.menu-on .burger {
  background: transparent;
}

.burger-menu.menu-on .burger::before {
  transform: translateX(-50%) rotate(45deg);
  top: 0;
}

.burger-menu.menu-on .burger::after {
  transform: translateX(-50%) rotate(-45deg);
  bottom: 0;
}
