.intro {
  width: 100%;
  max-width: 192rem;
}

.intro-slider__item {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }

  @include breakpoint($lg-bp) {
    height: 66.7rem;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
