.main-about {
  position: relative;

  padding-bottom: 5rem;

  background: url(../images/main-about/main-about-bg.png) no-repeat;
  background-size: cover;
  background-position: top -5rem center;

  @include breakpoint($lg-bp) {
    background: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 18rem;
      right: 0;
      z-index: -1;

      pointer-events: none;

      width: 18.9rem;
      height: 41.2rem;

      background: url(../images/main-about/main-about-bg-mob.png) no-repeat;
      background-size: cover;
    }
  }

  .container {
    max-width: 171rem;
  }
}
.main-about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;

  margin-left: 15rem;

  @include breakpoint($xl-bp) {
    margin-left: 0;
  }

  @include breakpoint($lg-bp) {
    flex-direction: column;
  }
}

.main-about__content {
  width: 100%;
  max-width: 55rem;

  margin-top: 3rem;
}
.main-about__title {
  font-size: 6rem;
  font-weight: 300;
  color: $secondary;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  margin-bottom: 2.7rem;
}
.main-about__descr {
  margin-bottom: 2rem;
  text-align: left;

  @include breakpoint($lg-bp) {
    font-size: 3.2rem;
  }
}
.main-about__img {
  width: 100%;
  max-width: 85rem;
}
