.package {
  padding: 6rem 0 8rem;

  background: url(../images/package/package-bg.png) no-repeat;
  background-size: 100% 130rem;
  background-position: top -6rem center;

  @include breakpoint($lg-bp) {
    height: 197rem;

    background: url(../images//package/package-bg-mob.png) no-repeat;
    background-size: 100% 205rem;
    background-position: top -7rem center;

    .container,
    .package__inner {
      height: 100%;
    }
  }
}

.package__inner {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($lg-bp) {
    margin-top: 68rem;
    margin-bottom: 60rem;
  }
}

.package-img {
  width: 100%;
  max-width: 130rem;

  @include breakpoint($lg-bp) {
    width: 150%;
    max-width: unset;
  }
}

.package-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  width: 90rem;

  pointer-events: none;

  @include breakpoint($lg-bp) {
    width: 70rem;
  }
}

@media (min-width: 920px) {
  .swiper-slide.swiper-slide-active {
    .package-img {
      opacity: 1;

      transition: all 0.2s linear;
    }
    .package-item {
      opacity: 1;

      transition: all 0.3s linear;

      &:nth-of-type(1) {
        left: 21rem;
        top: 9rem;

        transition-delay: 0.1s;
      }
      &:nth-of-type(2) {
        left: 11rem;
        top: 41.6rem;

        transition-delay: 0.4s;
      }
      &:nth-of-type(3) {
        left: 21rem;
        top: 73rem;

        transition-delay: 0.7s;
      }
      &:nth-of-type(4) {
        left: 91rem;
        top: 9rem;

        transition-delay: 1s;
      }
      &:nth-of-type(5) {
        left: 96rem;
        top: 59rem;

        transition-delay: 1.3s;
      }

      &::before,
      &::after {
        opacity: 1;

        transition: all 0.3s linear 2s;
      }
    }

    .package-item__content {
      opacity: 1;

      transition: all 0.3s linear 2s;
    }
  }
}

.package-item {
  position: absolute;
  z-index: 2;

  &:nth-of-type(1) {
    left: 21rem;
    top: 9rem;

    @include breakpoint($lg-bp) {
      left: -3rem;
      top: -11rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 21.5rem;
      height: 0.3rem;

      background: $secondary;

      opacity: 1;

      @include breakpoint($lg-bp) {
        width: 16.6rem;
        height: 46.4rem;
        transform: none;
        right: -10%;
        top: -220%;

        background: url(../images/package/package_icon-1_line-mob.svg) no-repeat;
        background-size: cover;
      }
    }

    .package-item__content {
      left: -20.5rem;
      top: -2rem;

      max-width: 17rem;

      @include breakpoint($lg-bp) {
        left: 6rem;
        top: -52rem;
        width: 24rem;
        max-width: 24rem;
      }
    }

    .package-item__line {
      display: none;
    }
  }
  &:nth-of-type(2) {
    left: 11rem;
    top: 41.6rem;

    @include breakpoint($lg-bp) {
      left: 18rem;
      top: -17rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -53%;
      z-index: 1;
      transform: translateY(-50%);

      width: 17.5rem;
      height: 0.3rem;

      background: $secondary;

      opacity: 1;

      @include breakpoint($lg-bp) {
        width: 18.3rem;
        height: 26.1rem;
        transform: none;
        left: 45%;
        top: -80%;

        background: url(../images/package/package_icon-2_line-mob.svg) no-repeat;
        background-size: cover;
      }
    }

    .package-item__content {
      left: -10.5rem;
      top: -2rem;

      max-width: 12rem;

      @include breakpoint($lg-bp) {
        left: 11rem;
        top: -27rem;
        width: 100%;
        max-width: 18rem;
      }
    }
  }
  &:nth-of-type(3) {
    left: 21rem;
    bottom: 7rem;

    @include breakpoint($lg-bp) {
      left: 38rem;
      bottom: unset;
      top: -10rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 21.5rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        width: 24rem;
        height: 53rem;
        transform: none;
        left: -56%;
        top: -260%;

        background: url(../images/package/package_icon-3_line-mob.svg) no-repeat;
        background-size: cover;
      }
    }

    .package-item__content {
      left: -20.5rem;
      top: -2rem;

      max-width: 21rem;

      @include breakpoint($lg-bp) {
        left: -11rem;
        top: -59rem;
        max-width: 23rem;
        text-align: right;

        .package-item__descr {
          line-height: 1.2;
        }
      }
    }
    .package-item__line {
      top: 18%;
      right: -4.8rem;

      width: 4.8rem;
    }
  }
  &:nth-of-type(4) {
    right: 21rem;
    top: 9rem;

    @include breakpoint($lg-bp) {
      right: 36.8rem;
      top: unset;
      bottom: -8rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 23.4rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        width: 28rem;
        height: 23.3rem;
        transform: none;
        left: 19%;
        top: 52%;

        background: url(../images/package/package_icon-4_line-mob.svg) no-repeat;
        background-size: cover;
      }
    }

    .package-item__content {
      left: 24.5rem;
      top: -2rem;

      width: 18rem;

      text-align: right;

      @include breakpoint($lg-bp) {
        left: 6.1rem;
        top: 20.9rem;
        width: 27rem;
        text-align: left;
      }
    }
    .package-item__line {
      top: 50%;
      right: 19.5rem;

      width: 24.7rem;
    }
  }
  &:nth-of-type(5) {
    right: 16rem;
    bottom: 21rem;

    @include breakpoint($lg-bp) {
      right: -4rem;
      bottom: -10.5rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 18.4rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        width: 22.6rem;
        height: 27.8rem;
        transform: none;
        left: -48%;
        top: 66%;

        background: url(../images/package/package_icon-5_line-mob.svg) no-repeat;
        background-size: cover;
      }
    }

    .package-item__content {
      left: 19.5rem;
      top: -2rem;

      width: 18rem;

      text-align: right;

      @include breakpoint($lg-bp) {
        left: -16rem;
        top: 28rem;
        width: 28rem;
      }
    }
  }
}

.package-item__content {
  position: absolute;

  line-height: 1;
}

.package-item__icon {
  width: 20rem;

  position: relative;
  z-index: 5;

  @include breakpoint($lg-bp) {
    width: 18rem;
  }
}
.package-item__line {
  display: none;
  position: absolute;

  @include breakpoint($lg-bp) {
    display: none;
  }
}

.package-item__title {
  font-size: 12rem;
  font-weight: 250;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: $secondary;

  padding-bottom: 1rem;
  margin-bottom: 1rem;

  span {
    color: $secondary;
  }
}
.package-item__descr {
  letter-spacing: -0.01em;
}

.prodpage-img__wrapper {
  width: 100%;
  max-width: 100rem;

  @include breakpoint($lg-bp) {
    width: 100%;
    max-width: 40rem;
  }
}
