.package {
  padding: 6rem 0 8rem;

  background: url(../images/package/package-bg.png) no-repeat;
  background-size: 100% 130rem;
  background-position: top -6rem center;
}

.package__inner {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 6rem;
}

.package-img {
  width: 100%;
  max-width: 130rem;
}

.package-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  width: 90rem;

  pointer-events: none;
}

.package-item {
  position: absolute;
  z-index: 2;

  &:nth-of-type(1) {
    left: 21rem;
    top: 9rem;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 21.5rem;
      height: 0.3rem;

      background: $secondary;
    }

    .package-item__content {
      left: -20.5rem;
      top: -2rem;

      max-width: 17rem;
    }

    .package-item__line {
      top: 50%;
      right: -15rem;

      width: 15.6rem;
    }
  }
  &:nth-of-type(2) {
    left: 11rem;
    top: 41.6rem;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -53%;
      z-index: 1;
      transform: translateY(-50%);

      width: 44.5rem;
      height: 0.3rem;

      background: $secondary;
    }

    .package-item__content {
      left: -10.5rem;
      top: -2rem;

      max-width: 12rem;
    }
  }
  &:nth-of-type(3) {
    left: 21rem;
    bottom: 7rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 21.5rem;
      height: 0.3rem;

      background: $secondary;
    }

    .package-item__content {
      left: -20.5rem;
      top: -2rem;

      max-width: 21rem;
    }
    .package-item__line {
      top: 18%;
      right: -4.8rem;

      width: 4.8rem;
    }
  }
  &:nth-of-type(4) {
    right: 21rem;
    top: 9rem;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 23.4rem;
      height: 0.3rem;

      background: $secondary;
    }

    .package-item__content {
      left: 24.5rem;
      top: -2rem;

      width: 18rem;

      text-align: right;
    }
    .package-item__line {
      top: 50%;
      right: 19.5rem;

      width: 24.7rem;
    }
  }
  &:nth-of-type(5) {
    right: 16rem;
    bottom: 21rem;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 18.4rem;
      height: 0.3rem;

      background: $secondary;
    }

    .package-item__content {
      left: 19.5rem;
      top: -2rem;

      width: 18rem;

      text-align: right;
    }
  }
}
.package-item__icon {
  width: 20rem;

  position: relative;
  z-index: 5;
}
.package-item__line {
  position: absolute;
}
.package-item__content {
  position: absolute;

  line-height: 1;
}
.package-item__title {
  font-size: 12rem;
  font-weight: 250;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: $secondary;

  padding-bottom: 1rem;
  margin-bottom: 1rem;

  span {
    color: $secondary;
  }
}
.package-item__descr {
  letter-spacing: -0.01em;
}
