.package {
  padding: 6rem 0 8rem;

  background: url(../images/package/package-bg.png) no-repeat;
  background-size: 100% 130rem;
  background-position: top -6rem center;

  @include breakpoint($lg-bp) {
    height: 197rem;

    background: url(../images//package/package-bg-mob.png) no-repeat;
    background-size: 100% 205rem;
    background-position: top -7rem center;

    .container,
    .package__inner {
      height: 100%;
    }
  }
}

.package__inner {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 6rem;
}

.package-img {
  width: 100%;
  max-width: 130rem;

  @include breakpoint($lg-bp) {
    width: 150%;
    max-width: unset;
  }
}

.package-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  width: 90rem;

  pointer-events: none;

  @include breakpoint($lg-bp) {
    width: 70rem;
  }
}

.package-item {
  position: absolute;
  z-index: 2;

  &:nth-of-type(1) {
    left: 21rem;
    top: 9rem;

    @include breakpoint($lg-bp) {
      left: -3rem;
      top: 51rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 21.5rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        width: 20.1rem;
        height: 71.5rem;
        transform: none;
        right: -29%;
        top: -220%;

        background: url(../images/package/package_icon-1_line-mob.svg) no-repeat;
        background-size: cover;
      }
    }

    .package-item__content {
      left: -20.5rem;
      top: -2rem;

      max-width: 17rem;

      @include breakpoint($lg-bp) {
        left: 6rem;
        top: -52rem;
        width: 24rem;
        max-width: 24rem;
      }
    }

    .package-item__line {
      top: 50%;
      right: -15rem;

      width: 15.6rem;

      @include breakpoint($lg-bp) {
      }
    }
  }
  &:nth-of-type(2) {
    left: 11rem;
    top: 41.6rem;

    @include breakpoint($lg-bp) {
      left: 18rem;
      top: 46rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -53%;
      z-index: 1;
      transform: translateY(-50%);

      width: 44.5rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        width: 21.8rem;
        height: 59.3rem;
        transform: none;
        left: 28%;
        top: -84%;

        background: url(../images/package/package_icon-2_line-mob.svg) no-repeat;
        background-size: cover;
      }
    }

    .package-item__content {
      left: -10.5rem;
      top: -2rem;

      max-width: 12rem;

      @include breakpoint($lg-bp) {
        left: 11rem;
        top: -27rem;
        width: 100%;
        max-width: 18rem;
      }
    }
  }
  &:nth-of-type(3) {
    left: 21rem;
    bottom: 7rem;

    @include breakpoint($lg-bp) {
      left: 38rem;
      bottom: unset;
      top: 51rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 21.5rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        width: 36.7rem;
        height: 99.4rem;
        transform: none;
        left: -124%;
        top: -260%;

        background: url(../images/package/package_icon-3_line-mob.svg) no-repeat;
        background-size: cover;
      }
    }

    .package-item__content {
      left: -20.5rem;
      top: -2rem;

      max-width: 21rem;

      @include breakpoint($lg-bp) {
        left: -11rem;
        top: -59rem;
        max-width: 23rem;
        text-align: right;

        .package-item__descr {
          line-height: 1.2;
        }
      }
    }
    .package-item__line {
      top: 18%;
      right: -4.8rem;

      width: 4.8rem;
    }
  }
  &:nth-of-type(4) {
    right: 21rem;
    top: 9rem;

    @include breakpoint($lg-bp) {
      right: 36.8rem;
      top: unset;
      bottom: 53.5rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 23.4rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        width: 28.3rem;
        height: 48.7rem;
        transform: none;
        left: 19%;
        top: -90%;

        background: url(../images/package/package_icon-4_line-mob.svg) no-repeat;
        background-size: cover;
      }
    }

    .package-item__content {
      left: 24.5rem;
      top: -2rem;

      width: 18rem;

      text-align: right;

      @include breakpoint($lg-bp) {
        left: 6.1rem;
        top: 20.9rem;
        width: 27rem;
        text-align: left;
      }
    }
    .package-item__line {
      top: 50%;
      right: 19.5rem;

      width: 24.7rem;
    }
  }
  &:nth-of-type(5) {
    right: 16rem;
    bottom: 21rem;

    @include breakpoint($lg-bp) {
      right: -4rem;
      bottom: 50.5rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 96%;
      z-index: 1;
      transform: translateY(-50%);

      width: 18.4rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        width: 22.9rem;
        height: 28rem;
        transform: none;
        left: -44%;
        top: 63%;

        background: url(../images/package/package_icon-5_line-mob.svg) no-repeat;
        background-size: cover;
      }
    }

    .package-item__content {
      left: 19.5rem;
      top: -2rem;

      width: 18rem;

      text-align: right;

      @include breakpoint($lg-bp) {
        left: -16rem;
        top: 28rem;
        width: 28rem;
      }
    }
  }
}
.package-item__icon {
  width: 20rem;

  position: relative;
  z-index: 5;

  @include breakpoint($lg-bp) {
    width: 18rem;
  }
}
.package-item__line {
  position: absolute;

  @include breakpoint($lg-bp) {
    display: none;
  }
}
.package-item__content {
  position: absolute;

  line-height: 1;
}
.package-item__title {
  font-size: 12rem;
  font-weight: 250;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: $secondary;

  padding-bottom: 1rem;
  margin-bottom: 1rem;

  span {
    color: $secondary;
  }
}
.package-item__descr {
  letter-spacing: -0.01em;
}
