.pao {
  padding: 23rem 0 19rem;

  background: url(../images/pao/pao-bg.png) no-repeat;
  background-size: 100% 53rem;

  @include breakpoint($lg-bp) {
    height: 173rem;

    background: url(../images/pao/pao-bg-mob.png) no-repeat;
    background-size: 100% 180rem;
    background-position: top -3rem center;

    .container,
    .pao__inner {
      height: 100%;
    }
  }
}

.pao__inner {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pao-img {
  width: 100%;
  max-width: 75rem;

  @include breakpoint($lg-bp) {
    width: 150%;
    max-width: unset;
  }
}

.pao-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  width: 90rem;

  pointer-events: none;

  @include breakpoint($lg-bp) {
    width: 70rem;
  }
}

.pao-item {
  position: absolute;
  z-index: 2;

  &:nth-of-type(1) {
    left: 21rem;
    top: -4rem;

    @include breakpoint($lg-bp) {
      left: -3rem;
      top: 40rem;

      &::before {
        content: "";
        position: absolute;
        top: -146%;
        left: 20%;
        z-index: 1;

        width: 22rem;
        height: 0.3rem;

        background: $secondary;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 55%;
      right: 90%;
      z-index: 1;
      transform: translateY(-50%);

      width: 23rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        height: 33.3rem;
        width: 0.3rem;

        top: -53%;
        left: 20%;
      }
    }

    .pao-item__content {
      left: -21rem;
      top: 1.5rem;

      max-width: 20rem;

      @include breakpoint($lg-bp) {
        left: 5rem;
        top: -34rem;

        width: 25rem;
        max-width: 25rem;
      }
    }
  }
  &:nth-of-type(2) {
    right: 23rem;
    top: -3rem;

    @include breakpoint($lg-bp) {
      right: 0;
      top: 40rem;

      &::before {
        content: "";
        position: absolute;
        top: -113%;
        left: 20%;
        z-index: 1;

        width: 22rem;
        height: 0.3rem;

        background: $secondary;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 90%;
      z-index: 1;
      transform: translateY(-50%);

      width: 23rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        height: 33.3rem;
        width: 0.3rem;

        top: -20%;
        left: 20%;
      }
    }

    .pao-item__content {
      right: -16.6rem;
      top: -2.5rem;

      max-width: 15rem;

      @include breakpoint($lg-bp) {
        right: -2rem;
        top: -28rem;
      }
    }
  }
  &:nth-of-type(3) {
    right: 15rem;
    bottom: 10rem;

    @include breakpoint($lg-bp) {
      right: 3rem;
      bottom: 40rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 90%;
      left: 47%;
      z-index: 1;
      transform: translateX(-50%);

      width: 0.3rem;
      height: 9rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        left: 21%;

        height: 23rem;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 134%;
      left: 46%;
      z-index: 1;

      width: 27rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        top: 216%;
        left: 21%;

        width: 12rem;
      }
    }

    .pao-item__content {
      right: -14rem;
      top: 21rem;

      max-width: 20rem;

      @include breakpoint($lg-bp) {
        right: -7rem;
        top: 22rem;
      }
    }
  }
  &:nth-of-type(4) {
    left: 15rem;
    bottom: 10rem;

    @include breakpoint($lg-bp) {
      left: -3rem;
      bottom: 40rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 90%;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);

      width: 0.3rem;
      height: 8rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        left: 21%;

        height: 10rem;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 129%;
      right: 49.6%;
      z-index: 1;

      width: 25rem;
      height: 0.3rem;

      background: $secondary;

      @include breakpoint($lg-bp) {
        top: 144%;
        right: -66%;

        width: 26rem;
      }
    }

    .pao-item__content {
      right: 9rem;
      top: 22rem;

      width: 26rem;

      @include breakpoint($lg-bp) {
        right: -13rem;
        top: 22rem;
      }
    }
  }
}
.pao-item__icon {
  width: 20rem;

  position: relative;
  z-index: 5;

  @include breakpoint($lg-bp) {
    width: 18rem;
  }
}
.pao-item__content {
  position: absolute;

  line-height: 1;
}
.pao-item__title {
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.01em;

  padding-bottom: 1rem;
  margin-bottom: 1rem;

  @include breakpoint($lg-bp) {
    font-size: 3.2rem;
  }
}
.pao-item__descr {
  letter-spacing: -0.01em;
}
