.products {
  padding: 4rem 0;

  background: url(../images/products/products-bg.png) no-repeat;
  background-size: 192rem 125.4rem;
  background-position: top 10rem center;

  .breadcrumb-wrapper {
    margin-bottom: 4rem;
  }
}

.products__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem 6rem;

  padding-bottom: 6rem;
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 40rem;
}
.products__item-img {
  width: 100%;
  max-width: 40rem;
}
.products__item-name {
  width: 100%;
  max-width: 33rem;

  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1;
  text-align: center;
  color: $secondary;

  margin-bottom: 2rem;
}
.products__item-descr {
  width: 100%;
  max-width: 34rem;

  font-weight: 300;

  margin-bottom: 4rem;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.products-btns {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.products-selection_link {
}
.products-all_link {
  position: absolute;
  right: 0;
}
