.prodpage {
  padding: 18rem 0 10rem;

  background: url(../images/prodp/prodp-bg.png) no-repeat;
  background-size: 100% 48.7rem;
  background-position: top 100rem center;

  @include breakpoint($lg-bp) {
    padding-bottom: 6rem;

    background: url(../images/prodp/prodp-bg-mob.png) no-repeat;
    background-size: 100% 29.4rem;
    background-position: top 136rem center;
  }

  .breadcrumb-wrapper {
    margin-bottom: 2rem;
  }

  .page-title {
    margin-bottom: 7rem;
  }

  a:hover {
    color: $secondary;
  }

  h2 {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 1;
    text-transform: uppercase;

    margin-bottom: 2rem;

    @include breakpoint($lg-bp) {
      font-size: 3.6rem;

      margin-bottom: 3rem;
    }
  }
}

.prodpage__inner {
  position: relative;

  display: flex;
  align-items: flex-start;

  @include breakpoint($lg-bp) {
    flex-direction: column;

    margin-bottom: 7rem;
  }
}
.prodpage-options_links {
  display: grid;
  gap: 2.4rem;
}
.prodpage-option {
  text-decoration: underline;
  &.active {
    color: $secondary;
  }
}

.prodpage-img {
  width: 100%;
  max-width: 100rem;

  margin: -11rem 0rem 0rem -8rem;

  @include breakpoint($lg-bp) {
    position: absolute;
    top: 39rem;
    left: -13rem;

    max-width: 40rem;

    margin: 0;
  }
}

.prodpage-data {
  position: absolute;
  right: 1rem;
  top: 0.5rem;

  display: grid;
  gap: 2.3rem;

  width: 36rem;

  @include breakpoint($lg-bp) {
    position: static;

    width: 100%;
  }

  a {
    text-decoration: underline;
  }
}
.prodpage-volumes__wrapper {
  display: grid;
  gap: 2rem;

  @include breakpoint($lg-bp) {
    justify-content: flex-end;
  }
}
.prodpage-volumes {
  a {
    text-decoration: underline;
    &.active {
      color: $secondary;
    }
  }
}
.prodpage__buy-links {
  display: grid;
  gap: 2.4rem;

  margin-top: 7.3rem;

  @include breakpoint($lg-bp) {
    margin-top: 18rem;

    width: 100%;
  }

  .filled-btn {
    max-width: 100%;

    justify-content: center;

    text-decoration: none;
    color: $primary;

    background: #ebdbf2;
    border-color: #ebdbf2;

    &:hover {
      color: white;

      background: $secondary;
      background-color: $secondary;
    }
  }
}

.prodpage-descr {
  margin-bottom: 7rem;

  @include breakpoint($lg-bp) {
    text-align: left;
    letter-spacing: -0.04em;

    margin-bottom: 4rem;
  }
}

.prodpage-table {
  .table-wrapper {
    border: 1px solid $secondary;
    border-radius: 1.2rem;

    @include breakpoint($lg-bp) {
      width: 65rem;

      margin-left: -6rem;
    }
  }
  table {
    width: 100%;

    @include breakpoint($lg-bp) {
      font-size: 2.2rem;
    }

    thead {
      color: #fff;

      th {
        background: $secondary;
        font-weight: 500;
      }
    }

    tr th,
    tr td {
      text-align: center;
      text-transform: uppercase;

      padding: 0 2rem;

      @include breakpoint($lg-bp) {
        padding: 1.2rem 0.4rem;
      }

      &:first-child {
        text-align: left;
      }
    }

    tr {
      height: 5.1rem;

      background: #fff;

      &:nth-child(even) {
        background: rgba(119, 17, 171, 0.2);
      }
    }

    tr:first-child th:first-child {
      border-top-left-radius: 1rem;
    }
    tr:first-child th:last-child {
      border-top-right-radius: 1rem;
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: 1rem;
    }
    tr:last-child td:first-child {
      border-bottom-left-radius: 1rem;
    }
  }
}

.prodpage-options__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  align-items: flex-start;
  justify-content: space-between;

  height: 55rem;

  @include breakpoint($lg-bp) {
    width: 100%;

    justify-content: flex-start;
    gap: 4rem;

    height: unset;

    margin-bottom: 10rem;
  }

  .filled-btn {
    max-width: 100%;

    justify-content: center;

    text-decoration: none;
    color: $primary;

    background: #ebdbf2;
    border-color: #ebdbf2;

    &:hover {
      color: white;

      background: $secondary;
      background-color: $secondary;
    }
  }
}
