.selection {
  padding: 4rem 0 8rem;

  background: url(../images/selection/selection-bg.png) no-repeat;
  background-size: 100% 100rem;
  background-position: top 35rem center;

  @include breakpoint($lg-bp) {
    background: url(../images/selection/selection-bg-mob.png) no-repeat;
    background-size: 75rem 307rem;
  }

  .breadcrumb-wrapper {
    margin-bottom: 3rem;
  }

  .page-title {
    margin-bottom: 9rem;

    @include breakpoint($lg-bp) {
      margin-bottom: 4rem;
    }
  }

  @include breakpoint($lg-bp) {
    padding-top: 8rem;
  }

  .prod-category {
    margin-bottom: 0;
    padding-bottom: 0;

    &::after {
      display: none;
    }
    .prod-category__link-all {
      display: block;

      width: max-content;
      margin-left: auto;

      @include breakpoint($lg-bp) {
        display: none;
      }
    }
    .page-title {
      margin-bottom: 8.8rem;

      @include breakpoint($lg-bp) {
        margin-bottom: 4rem;
      }
    }

    .prod-category-slider {
      margin-bottom: 6rem;
    }

    .products__item-descr {
      @include breakpoint($lg-bp) {
        display: none;
      }
    }

    .prod-category__inner {
      margin-bottom: 10rem;

      @include breakpoint($lg-bp) {
        margin-bottom: 0;
      }
    }
  }
}

.selection__filter {
  margin-bottom: 16rem;

  @include breakpoint($lg-bp) {
    margin-bottom: 10rem;
  }

  .custom-select {
    @include breakpoint($lg-bp) {
      width: 100%;
      height: 6rem;

      text-align: center;

      padding: 1.5rem 5.3rem;

      border-radius: 3rem;
    }
  }

  .filled-btn {
    height: 5.6rem;

    padding: 1.1rem 6rem;

    @include breakpoint($lg-bp) {
      max-width: 100%;
      height: 6rem;

      justify-content: center;
    }
  }

  .nice-select.open .list {
    width: unset;
    max-height: 50rem;
    overflow: auto;
  }
}

.selection__filter-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.3rem;

  margin-bottom: 5rem;

  @include breakpoint($lg-bp) {
    gap: 2rem;

    margin-bottom: 2rem;
  }
}

#recomendation {
  .products__item picture {
    width: 35rem;
    height: 35rem;
    margin-bottom: 0;
  }
}
