.useful {
  padding-top: 5.3rem;
  padding-bottom: 3rem;

  background: url(../images/useful/useful-bg.png) no-repeat;
  background-size: cover;
  background-position: top -3rem center;

  @include breakpoint($lg-bp) {
    padding: 8.6rem 0 17rem;

    background: url(../images/useful/useful-bg-mob.png) no-repeat;
    background-size: 100% 104.4rem;
    background-position: top 26rem center;
  }

  .breadcrumb-wrapper {
    margin-bottom: 3.4rem;

    @include breakpoint($lg-bp) {
      margin-bottom: 10rem;

      .breadcrumb {
        justify-content: center;
      }
    }
  }
}

.useful__inner {
  display: flex;
  justify-content: space-between;
  gap: 10rem;

  @include breakpoint($lg-bp) {
    flex-direction: column;
    gap: 20rem;
  }
}
.useful-item {
  width: 100%;
  max-width: 60.6rem;

  display: flex;
  align-items: flex-start;
  gap: 8.6rem;

  @include breakpoint($lg-bp) {
    gap: 2rem;
  }
}
.useful-item__img {
  width: 100%;
  max-width: 24.8rem;

  border-radius: 3rem;
}
.useful-item__content {
  max-height: 19.6rem;
  overflow: hidden;

  margin-bottom: 0.4rem;

  @include breakpoint($lg-bp) {
    overflow: visible;
    max-height: unset;

    margin-bottom: 3.4rem;
  }
}
.useful-item__title {
  height: 100%;

  font-weight: 700;
  font-size: 2.4rem;
  color: $secondary;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  @include breakpoint($lg-bp) {
    font-size: 3.2rem;
  }
}
.useful-item__descr {
  font-size: 2.4rem;

  @include breakpoint($lg-bp) {
    font-size: 3.2rem;
  }
}

.useful-item__link {
  height: max-content;
}

.useful__link_all {
  display: flex;
  justify-content: flex-end;

  width: max-content;

  margin-left: auto;

  @include breakpoint($lg-bp) {
    display: none;
  }
}
