<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="#">
                <img src="assets/images/logo.png" alt="">
            </a>
            <nav class="menu">
                <ul class="menu__nav-list">
                    <li class="nav-list__item">
                        <a href="#opportunities" class="nav-list__item-link">подбор масла</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#getting" class="nav-list__item-link">ПРОДУКЦИЯ</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#partners" class="nav-list__item-link">ПРЕИМУЩЕСТВА</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#partners" class="nav-list__item-link">ГДЕ КУПИТЬ</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#partners" class="nav-list__item-link">ПОЛЕЗНОЕ</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#partners" class="nav-list__item-link">О КОМПАНИИ</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#partners" class="nav-list__item-link">КОНТАКТЫ</a>
                    </li>
                </ul>
            </nav>

            <div class="burger-menu">
                <div class="burger"></div>
            </div>
        </div>
    </div>
</header>