<svg style="display: none;">

    <symbol id="arrow-right" viewBox="0 0 58 58">
        <g>
            <path d="M25.2131 12.2132L41.9999 29L25.2131 45.7868" stroke-width="2" />
            <circle cx="29" cy="29" r="28" stroke-width="2" />
        </g>
    </symbol>

    <symbol id="circle-cross" viewBox="0 0 26 26">
        <g>
            <line x1="7.29289" y1="18.5927" x2="18.4752" y2="7.41038" stroke="#FF0000" stroke-width="2" />
            <line x1="18.4753" y1="18.8897" x2="7.29295" y2="7.70741" stroke="#FF0000" stroke-width="2" />
            <circle cx="13" cy="13" r="12" stroke="#FF0000" stroke-width="2" />
        </g>
    </symbol>
    <symbol id="circle-check" viewBox="0 0 26 26">
        <g>
            <path d="M6 11.5L10.5 19L19 7" stroke="#00A907" stroke-width="2" stroke-linejoin="round" />
            <circle cx="13" cy="13" r="12" stroke="#00A907" stroke-width="2" />
        </g>
    </symbol>

</svg>