<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
</head>

<body>
    {{> sprite }}

    <div class="page">

        <!-- Header -->

        {{> header-black }}

        <!-- Main content -->
        <main>

            {{> body }}

        </main>

        <!-- Footer -->
        {{> footer }}

    </div>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e261353f-0353-4122-b505-b081abfbc526&lang=ru_RU"
        type="text/javascript"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>